.codeContainer {
  width: 100%;
  height: 65%;
  background-color: #090a0a;
  display: flex;
}

.code {
  width: 845px;
  margin: 0;
  padding: 5px;
  color: #efefef;
  line-height: 1.5;
  font-size: 12px;
}

.number {
  margin: 0 5px;
  padding: 5px;
  text-align: right;
  color: #ababab;
  font-size: 12px;
  line-height: 1.5;
}

.code > a:visited {
  color: #3ab6ff;
}

.code > a:link {
  color: #3ab6ff;
}

.code > a:hover {
  color: blue;
}

.default {
  text-align: left;
}

.defaultTop {
  border-bottom: 1px solid #e2e2e2;
  display: inline;
}
