.header {
  color: white;
  text-align: center;
  background-color: #414242;
  max-width: 120px;
  height: 100%;
  padding: 0 5px;
  line-height: 32px;
  border-bottom: none;
  user-select: none;
  cursor: pointer;
  border: 0.1px solid #090a0a;
  position: relative;
  display: flex;
}

.activeHeader {
  background-color: #090a0a;
}

.activeHeader > span {
  background-color: #090a0a;
}

.headerName {
  overflow: hidden;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 30px;
  line-height: 2;
  z-index: 0;
  background-color: #414242;
  z-index: 10;
}

.close:hover {
  display: block;
}
.default {
  margin: 0 auto;
}
.defaultTop {
  color: white;
}
