.header {
  color: white;
  text-align: center;
  background-color: #414242;
  width: 100%;
  height: 100%;
  max-width: 150px;
  padding: 0 5px;
  line-height: 32px;
  border-bottom: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  border: 0.1px solid #090a0a;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.activeHeader {
  background-color: #414242;
  width: 120px;
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
}

.default {
  margin: 0 auto;
}
.defaultTop {
  color: white;
}
