.header {
  color: white;
  text-align: center;
  background-color: #414242;
  width: 100%;
  max-width: 150px;
  padding: 5px;
  line-height: 20px;
  border-bottom: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  border: 0.1px solid #090a0a;
  position: relative;
}

.activeHeader {
  background-color: #090a0a;
  width: 150px;
}

#close {
  position: absolute;
  right: 10px;
  top: 5px;
}
