.folder {
  color: #e0bc7a;
  cursor: pointer;
  user-select: none;
  padding-left: 20px;
}

.folder span {
  margin-left: 8px;
}

.fileParent > .file {
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
}

.file {
  display: flex;
  cursor: pointer;
  user-select: none;
  padding-left: 20px;
}

.folder:hover {
  background-color: #505050;
}

.file:hover {
  background-color: #505050;
}
