.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  background: rgba(38, 38, 38, 0.92);
  border: 1px solid #555;
  overflow: hidden;
}

.flex {
  height: 100%;
  display: flex;
}

.left-container {
  background-color: #222323;
  border: 0 dashed #414344;
  border-width: 0 1px 0 0;
  height: 100%;
  min-width: 250px;
}

.light-container {
  width: auto;
  background-color: #090a0a;
  flex-basis: 10000px;
  display: flex;
}

.exproler {
  color: white;
  padding: 10px;
  font-size: 12px;
  height: 40px;
  box-sizing: border-box;
}

#portfolio {
  background: #414242;
  color: white;
  padding: 3px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}

.folder {
  color: #e0bc7a;
  cursor: pointer;
  user-select: none;
  margin-left: 20px;
}

.folder span {
  margin-left: 8px;
}

.folderParent > .file {
  cursor: pointer;
  user-select: none;
  margin-left: 35px;
}

.file {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-left: 20px;
}

.folder:hover {
  background-color: #000;
  opacity: 0.8;
}

.file:hover {
  background-color: #000;
  opacity: 0.8;
}
